<p-dialog
  header="{{ mode === 'add' ? ( 'CRUD.ADDUSER' | translate ) : mode === 'edit' ? ( 'CRUD.EDITUSER' | translate ) : ( 'CRUD.CONSULTUSER' | translate ) }}"
  [(visible)]="visible" [modal]="true" [closable]="true" [dismissableMask]="true" [draggable]="false"
  (onHide)="cancel()">
  
  <form [formGroup]="userForm">
    <div class="form-grid">
      <div class="form-group">
        <label>{{ 'CRUD.NAME' | translate }}</label>
        <input pInputText formControlName="name" />
        <small class="text-danger" *ngIf="userForm.get('name')?.errors?.['required'] && userForm.get('name')?.touched">
          {{ 'CRUD.REQUIRED' | translate }}
        </small>
      </div>

      <div class="form-group">
        <label>{{ 'CRUD.USER' | translate }}</label>
        <input pInputText formControlName="username" />
        <small class="text-danger" *ngIf="userForm.get('username')?.errors?.['required'] && userForm.get('username')?.touched">
          {{ 'CRUD.REQUIRED' | translate }}
        </small>
      </div>

      <div class="form-group">
        <label>{{ 'CRUD.EMAIL' | translate }}</label>
        <input pInputText formControlName="email" />
        <small class="text-danger" *ngIf="userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched">
          {{ 'CRUD.REQUIRED' | translate }}
        </small>
      </div>

      <div class="form-group">
        <label>{{ 'CRUD.PHONE' | translate }}</label>
        <p-inputMask mask="(999) 999-9999" formControlName="phone"></p-inputMask>
        <small class="text-danger" *ngIf="userForm.get('phone')?.errors?.['required'] && userForm.get('phone')?.touched">
          {{ 'CRUD.REQUIRED' | translate }}
        </small>
        <small class="text-danger" *ngIf="userForm.get('phone')?.errors?.['pattern'] && userForm.get('phone')?.touched">
          {{ 'CRUD.INVALIDPHONE' | translate }}
        </small>
      </div>

      <div class="form-group">
        <label>{{ 'CRUD.EXTENSION' | translate }}</label>
        <input pInputText formControlName="extension" maxlength="10"  />
        <small class="text-danger" *ngIf="userForm.get('extension')?.errors?.['pattern'] && userForm.get('extension')?.touched">
          {{ 'CRUD.INVALIDEXTENSION' | translate }}
        </small>
      </div>

      <div class="form-group">
        <label>{{ 'CRUD.WEBSITE' | translate }}</label>
        <input pInputText formControlName="website" />
      </div>

      <div formGroupName="company" class="form-grid">
        <div class="form-group">
          <label>{{ 'CRUD.COMPANY' | translate }}</label>
          <input pInputText formControlName="name" />
        </div>
      </div>
    </div>

    <div formGroupName="address" class="form-grid" style="margin-top: 10px;">
      <div class="form-group">
        <label>{{ 'CRUD.STREAT' | translate }}</label>
        <input pInputText formControlName="street" />
      </div>
      <div class="form-group">
        <label>{{ 'CRUD.NUMBER' | translate }}</label>
        <input pInputText formControlName="suite" />
      </div>
      <div class="form-group">
        <label>{{ 'CRUD.CITY' | translate }}</label>
        <input pInputText formControlName="city" />
      </div>
      <div class="form-group">
        <label>{{ 'CRUD.ZIPCODE' | translate }}</label>
        <input pInputText formControlName="zipcode"/>
        <small class="text-danger" *ngIf="userForm.get('address.zipcode')?.errors?.['pattern'] && userForm.get('address.zipcode')?.touched">
          {{ 'CRUD.INVALIDZIPCODE' | translate }}
        </small>
      </div>

      <div formGroupName="geo" class="form-grid">
        <div class="form-group">
          <label>{{ 'CRUD.LATITUDE' | translate }}</label>
          <input pInputText formControlName="lat" readonly />
        </div>
        <div class="form-group">
          <label>{{ 'CRUD.LONGITUDE' | translate }}</label>
          <input pInputText formControlName="lng" readonly />
        </div>
      </div>
    </div>

    <div class="map-container" style="height: 300px; margin-top: 10px;">
      <google-map height="100%" width="100%" [center]="center" [zoom]="zoom" [options]="mapOptions"
        (mapClick)="onMapClick($event)">
        <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"
          (mapDragEnd)="onMarkerDragEnd($event)">
        </map-marker>
      </google-map>
    </div>

    <div class="form-group" style="margin-top:10px;">
      <p-checkbox formControlName="destacado" label="{{ 'CRUD.OUTSTADING' | translate }}" [binary]="true"></p-checkbox>
    </div>

    <div class="button-bar" style="margin-top: 15px;">
      <button pButton label="{{ 'CRUD.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text"
        (click)="cancel()" *ngIf="mode !== 'detail'"></button>
      <button pButton 
        label="{{ mode === 'add'? ('CRUD.SAVE'  | translate): mode === 'edit'? ('CRUD.UPDATE'  | translate): ('COMMON.ACCEPT'  | translate) }}"
        icon="pi pi-check" [disabled]="userForm.invalid" (click)="save()"></button>
    </div>
  </form>
</p-dialog>
